.flickity-viewport {
    flex: 0 1 100%;
    overflow: hidden;
    position: relative !important;
    height: 100%;
}
.flickity-page-dot {
    background: transparent !important;
    border: 1px solid $-black !important;
}
.flickity-page-dot.is-selected {
    background: black !important;
    border: 1px solid transparent !important;
}
.flickity-page-dot:focus {
    box-shadow: none !important;
}