<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="container flex-center" style="min-height: 100vh;">
        <div class="width-fit flex-center flex-column">
            <a href="/">
                <img src="/assets/image/icon-logo.png" width="160" height="120" alt="" class="mb60">
            </a>
            <div class="tac display-large primary-text fw-bold">404</div>
            <div class="tac body-medium neutral-text40 fw-light mt6">Oops! There's no page that you are looking for</div>
        
            <div class="flex-center mt30">
                <a href="/" class="primary-outline-btn hover btn fw-bold flex-center">Return to Home</a>
            </div>
        </div>
    </div>
</body>
</html>