<main class="main login__main third-font header__next flex-center p60">
    <form id="loginForm" action="#" class="form form--login form--user__info flex-column g20">
        <div class="tac">
            <h2 class="display-small ttu fw-bold">Login</h2>
            <p class="body-small fw-normal mt12 mb12">Don't have an account? <a href="/signup"
                    class="primary-text">Sign up here</a></p>
        </div>
        <span class="form__error__message primary-text alert-text body-medium fw-smb p12"></span>
        <div class="form__group">
            <input type="text" class="form__input email__input" placeholder="Email">
            <span class="form__group__title fw-bold label-medium">Email</span>
            <span class="form__message"></span>
        </div>
        <div class="form__group form__group--icon">
            <span class="form__group__title fw-bold label-medium">Password</span>
            <div class="flex v-center">
                <input type="password" class="form__input form__input--password password__input" placeholder="Password">
                <button type="button" class="toggle-password"><i class="fal fa-eye"></i></button>
            </div>
            <span class="form__message"></span>
        </div>
        <div class="form__group flex j-end">
            <a href="/forgot-password" class="text label-medium fw-normal underline">Forgot your password?</a>
        </div>
        <div class="form__group flex g30">
            <button class="login-btn btn form__btn primary-fill-btn hover auto-set-width fw-bold">Log in</button>
            <a href="/" class="flex-center btn form__btn primary-text-btn hover auto-set-width fw-normal text">Return to Store</a>
        </div>
    </form>
</main>

<script type="module" src="/js/login.js"></script>