<main class="main login__main third-font header__next flex-center p60">
    <form id="resetPasswordForm" action="#" class="form form--reset form--user__info flex-column g20">
        <div class="tac">
            <h2 class="display-small ttu fw-bold ttc">Reset password</h2>
        </div>
        <span class="form__message form__error__message width-full primary-text alert-text body-medium fw-smb">
        </span>
        <div class="form__group">
            <input type="text" class="form__input password__input" placeholder="Password">
            <span class="form__group__title fw-bold label-medium">Password</span>
            <span class="form__message"></span>
        </div>
        <div class="form__group">
            <input type="text" class="form__input password__input--confirm" placeholder="Confirm Password">
            <span class="form__group__title fw-bold label-medium">Confirm Password</span>
            <span class="form__message"></span>
        </div>
        <div class="form__group flex g30">
            <button class="reset-btn btn form__btn form__btn--reset primary-fill-btn hover auto-set-width fw-bold">Reset</button>
            <a href="/login" class="flex-center btn form__btn primary-text-btn hover auto-set-width fw-normal text">Move
                to Log In</a>
        </div>
    </form>
</main>

<script type="module" src="/js/resetPassword.js"></script>