$header-height: 88px;
$header-mobile-height: 80px;
/* Color styles */
$--rose: rgba(255, 157, 156, 1);
$--purple: rgba(193, 124, 255, 1);
$--yellow: rgba(255, 201, 108, 1);
$--darkgreen: rgba(67, 122, 76, 1);
$--blue: rgba(75, 173, 238, 1);
$--gray: rgba(189, 189, 189, 1);
$--black: rgba(35, 35, 35, 1);
$--white: rgba(255, 255, 255, 1);
$--darkgray: rgba(101, 101, 101, 1);    
$--white: rgba(255, 255, 255, 1);
$--glass: 0px 0px 4px rgba(255, 255, 255, 0.25);
$video-bg: #f2f2f2;
$bg: #ffffff;
$bg-secondary: #f4f4f4;
$bg-rgb: 255,
255,
255;
$-white: #ffffff;
$-black: #000000;
$-green: #20E3B2;
$-blue: #2cccff;
$-orange: #FF6651;
$-gray : gray;
$-pink: #F62682;
$-pink-2: #ff6acc;
$-yellow: rgb(255, 153, 0);
$-green: #00c58a;
$neutral0: #000000;
$neutral4: #0f0d13;
$neutral6: #141218;
$neutral10: #1d1b20;
$neutral12: #211f26;
$neutral17: #2b2930;
$neutral20: #322f35;
$neutral22: #36343b;
$neutral24: #3b383e;
$neutral30: #48464c;
$neutral40: #605d64;
$neutral50: #79767d;
$neutral60: #938f96;
$neutral70: #aea9b1;
$neutral80: #cac5cd;
$neutral87: #ded8e1;
$neutral90: #e6e0e9;
$neutral92: #ece6f0;
$neutral94: #f3edf7;
$neutral95: #f5eff7;
$neutral96: #f7f2fa;
$neutral99: #fffbff;
$neutral100: #ffffff;
$text-dark: #000000;
$text: #000000;
$text-light: #4d4d4d;
$light-gray: #ededed;
$a5: rgba(0, 0, 0, 0.05);
$a10: rgba(0, 0, 0, 0.1);
$a15: rgba(0, 0, 0, 0.15);
$a20: rgba(0, 0, 0, 0.2);
$a25: rgba(0, 0, 0, 0.25);
$a30: rgba(0, 0, 0, 0.3);
$a35: rgba(0, 0, 0, 0.35);
$a40: rgba(0, 0, 0, 0.4);
$a45: rgba(0, 0, 0, 0.45);
$a50: rgba(0, 0, 0, 0.5);
$a55: rgba(0, 0, 0, 0.55);
$a60: rgba(0, 0, 0, 0.6);
$a65: rgba(0, 0, 0, 0.65);
$a70: rgba(0, 0, 0, 0.7);
$a75: rgba(0, 0, 0, 0.75);
$a80: rgba(0, 0, 0, 0.8);
$a85: rgba(0, 0, 0, 0.85);
$a90: rgba(0, 0, 0, 0.9);
$a95: rgba(0, 0, 0, 0.95);
$border: rgb(100, 100, 100);
$border-light: #a2a2a2;
$border-hairline: #f7f7f7;
$border-dark: #313131;
$primary: #ed1c24;
$primary-hover: #b8050c;
$primary-fade: rgba(237, 28, 36, 0.05);
$primary-fade-hover: rgba(237, 28, 36, 0.1);
$primary-opposite: #ffffff;
$eq-grey: #F4F5F5;
$secondary: #000000;
$secondary-hover: #000000;
$secondary-fade: rgba(0, 0, 0, 0.05);
$secondary-fade-hover: rgba(0, 0, 0, 0.1);
$secondary-opposite: #ffffff;
$link: #000000;
$link-hover: #ed1c24;
$link-fade: rgba(0, 0, 0, 0.05);
$link-fade-hover: rgba(0, 0, 0, 0.1);
$link-opposite: #ffffff;
$sale-bg: #f9dee5;
$sale-text: #000000;
$sale-text-secondary: #f9dee5;
$badge-bg: #e6c553;
$badge-text: #000000;
$error: var($primary);
$error-bg: var($primary-fade);
$announcement-bg: #ffffff;
$announcement-text: #ab8c52;
$announcement-border: #e6ddcb;
$header-bg: #ffffff;
$header-link: #000000;
$header-link-hover: #ed1c24;
$menu-bg: #ffffff;
$menu-border: #dddddd;
$menu-link: #212121;
$menu-link-hover: #ed1c24;
$submenu-bg: #ffffff;
$submenu-link: #212121;
$submenu-link-hover: #ed1c24;
$menu-transparent: #ffffff;
$footer-bg: #ffffff;
$footer-text: #000000;
$footer-link: #212121;
$footer-link-hover: #ed1c24;
$footer-border: #212121;